.home {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  background-color: whitesmoke;
  padding-top: 10px;
  border-radius: 3px;
}

h3,
h4,
p {
  margin: 50px 20px;
}

.note {
  margin-bottom: 0px;
}
