* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map_info {
  width: 50vw;
  height: 60vh;
  background-color: whitesmoke;
  margin-left: 10px;
}

.leaflet-container {
  width: 50vw;
  height: 60vh;
  margin-left: 10px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 20px 20px;
  line-height: 1.2rem;
}

.text {
  margin: 20px 20px;
}
